

.player_action{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


.input_player{
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    font-size: 14px;
    transition: all 0.3s ease;
}
.input_player:focus{
    outline: none;
    border-color: #999;
    background-color: #fff;
}
.button_register, .button_continue{
    /* margin-top: 1rem; */
    /* width: 100p; */
    height: 100%;
    padding: 1rem;
    border-radius: 7px;
    background-color: #f0f0f0;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.button_register {
    background-color: #C9A646;
    color: #ffffff;

}
.button_register:hover{
    background-color: #b08a35;
}
.button_continue:hover{
    background-color: #e0e0e0;
}
.button_continue{
    margin-left: 1rem;
}
.button_continue:disabled{
    background-color: #d0d0d0;
    cursor: not-allowed;
}

.container_buttons {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form_register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 500px;
    height: 100%;
    padding: 1rem;
    border-radius: 7px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.form_register label {
    /* display: block; */
    margin-bottom: 0.5rem;
    color: #555;
    font-size: 14px;
    text-align: left;
}

.section_register{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_control {
    margin-bottom: 20px;
    width: 100%;
}

.form_control label > strong {
    color: red;
    font-size: 1.2rem;
}
.form_control span {
    color: red;
    font-size: 0.7rem;
}

.input_error{
    border: 1px solid red;
    background-color: #fdd;
}